.cupImg {
    background: url('./assets/cup.svg') no-repeat;
    width: 100px;
    height: 100px;
}

.dishImg {
    background: url('./assets/dish.svg') no-repeat;
    width: 100px;
    height: 100px;
}

.drinkImg {
    background: url('./assets/drink.svg') no-repeat;
    width: 100px;
    height: 100px;
}

.cakeImg {
    background: url('./assets/cake.svg') no-repeat;
    width: 100px;
    height: 100px;
}