.wrapper {
    display: inline-flex;
    align-items: center;
    gap: 90px;
    padding: 100px;

    .image {
        background: url('./assets/pexels-daniela-constantini-5591664\ 1.svg') no-repeat;
        width: 645px;
        height: 566px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 557px;

        h1 {
            color: var(--neutral-07, #2C2F24);
            font: 500 55px Playfair Display;
            line-height: 60.5px;
        }

        p {
            color: var(--neutral-07, #2C2F24);
            font: 500 18px DM Sans;
            line-height: 28px;
        }

        h2 {
            color: var(--neutral-06, #414536);
            font: 400 16px DM Sans;
            line-height: 24px;
        }
    }
}