.healthyFood {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--neutral-02, #F9F9F7);
    padding: 98px 92px;


    .wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 90px;
    
    

    .imagePasta {
        background: url('./assets/pasta.svg') no-repeat;
        width: 650px;
        height: 616px;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 557px;

        h1 {
            color: var(--neutral-07, #2C2F24);
            font: 500 55px Playfair Display;
            line-height: 60.5px;
            text-align: center;
            
        }

        .firstParagraph {
            color: var(--neutral-07, #2C2F24);
            font: 500 18px DM Sans;
            line-height: 28px;
        }

        p2 {
            color: var(--neutral-06, #414536);
            font: 400 16px DM Sans;
            line-height: 24px;
        }
    }

    }
}