.eggs {
    background: url('./assets/eggs.svg') no-repeat;
    width: 306px;
    height: 231px;
}

.pizza{
    background: url('./assets/pizza.svg') no-repeat;
    width: 306px;
    height: 231px;
}
.wine {
    background: url('./assets/wine.svg') no-repeat;
    width: 306px;
    height: 231px;
}
.cake {
    background: url('./assets/cake.svg') no-repeat;
    width: 306px;
    height: 231px;
}
.mohito {
    background: url('./assets/mohito.svg') no-repeat;
    width: 306px;
    height: 231px;
}
.icecream {
    background: url('./assets/icecream.svg')no-repeat;
    width: 306px;
    height: 231px;
}
.burger{
    background: url('./assets/burger.svg') no-repeat;
    width: 306px;
    height: 231px;
}
.pancake {
    background: url('./assets/pancake.svg') no-repeat;
    width: 306px;
    height: 231px;
}