.caterinImg {
    background: url('./assets/kebab.svg') no-repeat;
    width: 306px;
    height: 320px;
}

.birthdayImg {
    background: url('./assets/friends.svg') no-repeat;
    width: 306px;
    height: 320px;
}

.weddingImg {
    background: url('./assets/charming-female-blowing-candles-birthday-cake-after-making-her-wish-party\ 1.svg') no-repeat;
    width: 306px;
    height: 320px;
}

.eventImg {
    background: url('./assets/happy.svg') no-repeat;
    width: 306px;
    height: 320px;
}