.contacts {
    display: flex;
    padding: 9px 154.316px 8.829px 150px;
    justify-content: space-between;
    align-items: center;
    background: #474747;

    .info {
        display: flex;


        .phone {
            background: url('./assets/phone.svg') no-repeat;
            background-size: contain;
            width: 18px;
            height: 18px;
        }
    }
}